---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About My Cool Astro Site</title>
	</head>
	<body>
		<div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
		</div>
		<div>
			<h1>About My Cool Astro Site</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, praesentium velit possimus voluptas distinctio beatae dolores quaerat officia officiis aspernatur vero labore omnis ratione sint aut deserunt non reprehenderit nulla.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illum recusandae! Ut sit iste aliquam? Dicta quidem repellat autem quasi. Quo voluptatum officia rem explicabo quidem! Vitae pariatur cumque iure.</p>
		</div>
	</body>
</html>
