---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostListing from "../components/BlogPostListing.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Bloggy Mc Blog Face";
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{ allPosts.map((post: any) => <BlogPostListing url={post.url} title={post.frontmatter.title} /> ) }
	</ul>
	<div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illum recusandae! Ut sit iste aliquam? Dicta quidem repellat autem quasi. Quo voluptatum officia rem explicabo quidem! Vitae pariatur cumque iure.</p>
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, praesentium velit possimus voluptas distinctio beatae dolores quaerat officia officiis aspernatur vero labore omnis ratione sint aut deserunt non reprehenderit nulla.</p>
	</div>
</BaseLayout>

