---
import Navigation from "../components/Navigation.astro";
import Footer from  "../components/Footer.astro";
import "../styles/global.css";

const pageTitle = "Bloggy Mc Blog Face";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div>
			<Navigation />
		</div>
		<div>
			<h1>{pageTitle}</h1>
		</div>
		<ul>
			<li><a href="posts/post-1">Post 1</a></li>
			<li><a href="posts/post-2">Post 2</a></li>
			<li><a href="posts/post-3">Post 3</a></li>
		</ul>
		<div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illum recusandae! Ut sit iste aliquam? Dicta quidem repellat autem quasi. Quo voluptatum officia rem explicabo quidem! Vitae pariatur cumque iure.</p>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, praesentium velit possimus voluptas distinctio beatae dolores quaerat officia officiis aspernatur vero labore omnis ratione sint aut deserunt non reprehenderit nulla.</p>
		</div>
		<Footer />
	</body>
</html>
